{% extends 'base.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th width="150px">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for i in object_list %}
            <tr>
                <td>{{ i.title }}</td>
                <td class="text-center">
                    <div class="row">
                        <div class="col-6">
                            <a href="/categories/update/{{ i.pk }}/">
                                <i class="fa fa-pen text-warning"></i>
                            </a>
                        </div>
                        <div class="col-6 px-0">
                            <form onsubmit="return confirm('You sure?')" method="POST" action="/categories/delete/{{ i.pk }}/">
                                {% csrf_token %}
                                <button class="submit-icon" type="submit">
                                    <i class="fa fa-trash text-danger"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}